/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap
 *= require 'masonry/transitions'
 *= require_tree .
 */

body {
	background: url('wood3.jpg');
	background-size: 100%;
}

.navbar-custom {
	background-color: #7f8c8d;
	border-color: #000000;
	border-width: 10px;
}

.logo img{
	height: 40%;
	max-width: 100%;
	max-height: 80px;
}

.logo {
	max-height: 50px;
}

.navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  background-color: #000000;
  border-radius: 1px;
}

.panel-default-custom {
	margin-top: 80px;
	background-color: #ecf0f1;

}

.panel-heading {
	background-color: #ecf0f1;
}

.panel-title{
	background-color: #ecf0f1;
	text-align: center;
}

.panel-title img {
	display: block;
	margin-left: auto;
	margin-right: auto;
   	max-width: 40%;

}

.panel-body-index {
	background-color: #ecf0f1;
	text-align: center;
}

.index-actions {
	margin-bottom: 5px;
	display: block;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}

.comment-custom{
	background-color: #ecf0f1;
	margin: 10px;
}

.devised {
	margin-top: 60px;
}

.static {
	margin-top: 70px;
	padding-left: 10px;
}
