<h1>New place</h1>
<%if current_user.try(:admin?) or current_user.try(:editor?) %>
<%= render 'form' %>
<%else%>

<p>This isn't the page you were looking for... </p><%= link_to 'Click Here To Return to Homepage', root_path %>

<%end%>
